{% extends 'Template/MainTemplateView.twig' %}

{% block title %}
    {{ "accueille"|title }} {{ parent() }}
{% endblock %}

{% block body %}
        <div class="jumbotron jumbotron-fluid bg-main">
            <div class="container"  style="color: white;">
                    <div class="row">
                        <div class="col-sm">
                            <h1 class="display-3">Coockie</h1>
                            <p>Bienvenue sur le blog de cookie, je partage ici mais idees mais passion et creation !!! <br> Ce site et crée par un micro <a href="https://github.com/jonasky/ck_framework" style="color: #fff;">framework maison</a> .</p>
                            <p><a class="btn bg-main btn-lg" href="#" role="button">An s'avoir plus sur moi >></a></p>
                        </div>
                        <div class="col-sm text-center m-auto lock">
                            <i style="font-size: 10em;" class="far fa-smile icon-unlock"></i>
                            <i style="font-size: 10em;" class="far fa-smile-wink icon-lock"></i>
                        </div>
                </div>


            </div>
        </div>

{% endblock %}