{% extends 'Template/MainTemplateView.twig' %}

{% block title %}
    {{ "accueille"|title }} {{ parent() }}
{% endblock %}

{% block body %}
        <div class="jumbotron jumbotron-fluid" style="background-color: #007bff; ">
            <div class="container" style="color: white;">
                <h1 class="display-3">Coockie</h1>
                <p>Bienvenue sur le blog de cookie, je partage ici mais idees mais passion et creation !!! <br> Ce site et crée par un micro <a href="https://github.com/jonasky/ck_framework" style="color: #fff;">framework maison</a> .</p>
                <p><a class="btn btn-primary btn-lg" href="#" role="button">An s'avoir plus sur moi >></a></p>
            </div>
        </div>
{% endblock %}