{% extends 'Template/NewDashTemplateView.twig' %}

{% block title %}{{ "Dashboard"|title }} {{ parent() }}{% endblock %}

{% block body %}
    <h1>color</h1>
    <a href="" class="btn ">test</a>
    <a href="" class="btn btn-success">test</a>
    <a href="" class="btn btn-warning">test</a>
    <a href="" class="btn btn-danger">test</a>
    <h1>border</h1>
    <a href="" class="btn btn-border">test</a>
    <a href="" class="btn btn-success btn-border">test</a>
    <a href="" class="btn btn-warning btn-border">test</a>
    <a href="" class="btn btn-danger btn-border ">test</a>
    <h1>shadow</h1>
    <a href="" class="btn btn-shadow">test</a>
    <h1>round</h1>
    <a href="" class="btn btn-round-lite">test</a>
    <a href="" class="btn btn-round-med">test</a>
    <a href="" class="btn btn-round-hard">test</a>
    <a href="" class="btn btn-round">t</a>
    <h1>size</h1>
    <a href="" class="btn">test</a>
    <a href="" class="btn btn-size-lite">test</a>
    <a href="" class="btn btn-size-med">test</a>
    <a href="" class="btn btn-size-hard">test</a>
    <h1>other</h1>
    <a href="" class="btn btn-disabled">test</a>
    <h1>combine</h1>
    <a href="" class="btn  btn-border btn-round">test</a>
    <a href="" class="btn btn-danger  btn-round-hard">test</a>
    <a href="" class="btn btn-warning btn-border btn-round-hard">test</a>


{% endblock %}